/* Large screens (laptops/desktops) */
@media (max-width: 1450px) {
  .container {
    padding: 0 20px;
  }

  .hero-container {
    padding: 0 20px;
  }

  .hero-image {
    max-width: 320px;
  }

  .bg-1 {
    max-width: 252px;
  }

  .bg-2 {
    max-width: 213px;
  }

  .hero-arrows {
    max-width: 116px;
  }

  .steps-bg-left {
    top: -40px;
    left: 30px;
    width: 130px;
    height: 130px;
  }
}

@media (max-width: 1200px) {
  .hero-title {
    font-size: 50px;
    line-height: 64px;
  }

  .woman-spike {
    width: 120px;
    height: 120px;
  }


  .bg-1 {
    max-width: 222px;
  }

  .bg-2 {
    max-width: 193px;
  }


  .hero-arrows {
    max-width: 106px;
  }

  .growth-wrapper {
    flex-direction: column;
    align-items: flex-start;
    gap: 42px;
  }

  .growth-bg-left {
    max-width: 122px;
  }

  .growth-bg-right {
    max-width: 200px;
  }

  .pricing-top-bg {
    max-width: 97px;
  }

  .pricing-bottom-bg {
    max-width: 270px;
  }

  .about-us-banner h1 {
    font-size: 56px;
    line-height: 60px;
  }

  .about-us-growth-main-img {
    max-width: 343px;
  }

  .about-us-growth-star {
    top: 40px;
    right: 0px;
  }

  .steps-bg-left {
    width: 100px;
    height: 100px;
    top: 0;
  }

  .steps-bg-right {
    top: 210px;
    width: 20px;
  }
}

/* Medium screens (tablets, smaller laptops) */
@media (max-width: 992px) {
  .section-title {
    font-size: 40px;
    line-height: 54px;
  }

  .about-us-banner h1 {
    font-size: 44px;
    line-height: 54px;
  }

  .hero-wrapper {
    flex-direction: column;
    align-items: center;
    gap: 42px;
  }

  .image-wrapper-right {
    margin-top: 0px;
  }

  .hero-title {
    font-size: 40px;
    line-height: 54px;
  }

  .hero-cta-wrapper {
    margin-top: 46px;
  }

  .woman-star {
    top: 0px;
  }

  .woman-spike {
    width: 100px;
    height: 100px;
    top: 0;
    right: -10px;
  }

  .hero-image {
    height: 414px;
    overflow: hidden;
  }

  .bg-1,
  .bg-2 {
    display: none;
  }

  .hero-arrows {
    max-width: 76px;
    margin-right: 16px;
  }

  .growth-wrapper {
    margin-top: 46px;
  }

  .growth-bg-left {
    max-width: 100px;
  }

  .growth-bg-right {
    max-width: 170px;
  }

  .pricing-top-bg {
    max-width: 77px;
  }

  .pricing-bottom-bg {
    max-width: 240px;
  }

  .career-star-left {
    width: 36.382px;
    height: 36.382px;
    top: 80px;
    left: 18px;
  }

  .career-content-wrapper {
    flex-direction: column-reverse;
    align-items: flex-start;
    margin-top: 42px;
    gap: 42px;
  }

  .career-img-right {
    max-width: 343px;
  }

  .career-spike {
    width: 102px;
  }

  .career-lines {
    width: 106px;

  }

  .about-us-growth-left-img {
    max-width: 140px;
  }

  .about-us-growth-right-img {
    max-width: 180px;
  }

  .steps-wrapper {
    grid-template-columns: repeat(2, auto);
    gap: 51px;
  }

  .step-2 {
    margin-top: 0px;
  }

  .dashed-line {
    display: none;
  }

  .steps-bg-bottom {
    display: none;
  }

  .steps-bg-right {
    width: 18px;
    top: 250px;
  }
}

/* Small screens (large mobiles, small tablets) */
@media (max-width: 768px) {
  .container {
    padding: 0 16px;
  }

  .growth,
  .pricing,
  .cta,
  .career,
  .service,
  .steps {
    padding: 64px 0;
  }

  .hero-cta-wrapper {
    margin-top: 32px;
  }

  .woman-spike {
    width: 89px;
    height: 89px;
  }

  .growth .section-title {
    text-align: left;
  }

  .growth-wrapper {
    margin-top: 32px;
  }

  .growth-bg-left {
    max-width: 96px;
  }

  .growth-bg-right {
    max-width: 142px;
  }

  .pricing-top-bg {
    max-width: 77px;
  }

  .pricing-bottom-bg {
    max-width: 240px;
  }

  .pricing-header {
    padding: 32px 16px;
  }

  .pricing-body {
    padding: 24px 16px 0;
    text-align: center;
  }

  .pricing-footer {
    padding: 32px 16px;
  }

  .pricing-body .price {
    font-size: 36px;
    line-height: 44px
  }

  .pricing-body .duration {
    font-size: 30px;
    line-height: 38px;
  }

  .about-us-banner {
    padding: 80px 0;
  }

  .about-us-banner h1 {
    font-size: 40px;
    line-height: 44px;
  }

  .about-us-growth-wrapper {
    flex-direction: column;
    align-items: flex-start;
    gap: 44px;
  }

  .footer {
    padding-top: 48px;
  }

  .footer-logo {
    max-width: 82px;
    max-height: 82px;
  }

  .footer-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }

  .payment-icons img {
    width: 52px;
    height: 37px;
  }

  .about-us-growth-left-img {
    max-width: 120px;
  }

  .about-us-growth-right-img {
    max-width: 110px;
    top: -25px;
  }

  /* mobile menu */
  .nav-links-wrapper {
    position: fixed;
    top: 0;
    right: -100%; /* Initially hidden */
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    transition: right 0.3s ease-in-out;
}

.nav-links-wrapper a {
    color: white;
    font-size: 18px;
}

.nav-links-wrapper.open {
    right: 0; /* Show menu */
}

/* Overlay effect */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
}

.overlay.active {
    opacity: 1;
    pointer-events: all;
}

/* Hamburger menu */
.nav-links-wrapper {
  display: none;
}
.auth-btns-wrapper {
  display: none;
}

.mobile-menu {
  display: block;
}

.overlay {
  display: block;
}

.hamburger {
  display: block;
}
}

@media (max-width: 650px) {
  .growth-image-wrapper {
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
  }

  .growth-star {
    top: 72%;
    left: 340px;
  }

  .growth-2 {
    position: static;
  }

  .pricing-top-bg {
    max-width: 57px;
  }

  .pricing-bottom-bg {
    display: none;
  }

  .pricing-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .about-us-growth-left-img {
    max-width: 85px;
    top: 55px;
    left: -35px;
  }

  .steps-wrapper {
    grid-template-columns: 1fr;
  }

  .step {
    align-items: flex-start;
  }

  .steps-bg-right {
    top: 350px;
  }

  .step-desc {
    text-align: left;
  }

  .footer-wrapper {
    grid-template-columns: 1fr;
  }

  .footer-text {
    color: var(--white);
    font-size: 18px;
    line-height: 30px;
    max-width: 362px;
    width: 100%;
  }

  .footer-links a {
    font-size: 16px;
    line-height: 24px;
  }

  .footer-contact p {
    font-size: 16px;
    line-height: 24px;
  }

  .footer-contact strong {
    font-weight: 400;
  }

  .footer-bottom p {
    line-height: 12px;
    line-height: 22px;
  }

}

/* Extra small screens (small mobiles) */
@media (max-width: 480px) {
  .section-title {
    font-size: 36px;
    line-height: 46px;
  }

  .hero-title {
    font-size: 36px;
    line-height: 46px;
  }

  .hero-cta-wrapper {
    gap: 10px;
  }

  .about-us-banner h1 {
    font-size: 36px;
    line-height: 44px;
  }

  .career-card-header {
    flex-direction: column;
    gap: 32px;
    align-items: flex-start;
  }

  .growth-star {
    right: -20px;
    left: auto;
}
}

/* Ultra small screens (very small devices) */
@media (max-width: 375px) {}